.app {
  .container {
    .login {
      display: flex;
      height: 100vh;
      background-color: #ffff;

      .left-row {
        display: flex;
        flex: 1;
        background-image: url("./assets/bg-4.png");
        background-repeat: no-repeat;
        background-size: contain;
      }
      .right-row {
        align-items: center;
        justify-content: center;
        flex: 1;
        display: flex;
        .form-auth {
          border-radius: 12px;
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.02), 0 0 2px rgba(0, 0, 0, 0.05),
            0 1px 4px rgba(0, 0, 0, 0.08) !important;
          margin-bottom: 1rem;
          padding-top: 1.5rem;
          padding-right: 1.5rem;
          padding-bottom: 1.5rem;
          padding-left: 1.5rem;
          background: #eff3f7;
          width: 420px;

          // .from-login {
          // }
        }
      }
    }
  }
}

.block {
  display: block;
}
.fz-15 {
  font-size: 15px;
}
.fw-500 {
  font-weight: 500 !important;
}
.mb-3 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mt-2 {
  margin-top: 2rem;
}
.input-login {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";

  background: #ffffff;
  padding-bottom: 0.7rem;
  padding-top: 0.7rem;
  border: 1px solid #ced4da;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;

  border-radius: 6px;
  width: 100%;
  padding-left: 10px;
}
.option {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";

  background: #ffffff;
  padding-bottom: 0.7rem;
  padding-top: 0.7rem;
  border: 1px solid #ced4da;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;

  border-radius: 6px;
  width: 100%;
  padding-left: 10px;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='20' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 6px;
}
.input-login:hover {
  border: 1px solid #5046e5;
}
.option:hover {
  border: 1px solid #5046e5;
}
.option:focus {
  outline: 2px solid #5146e52d;
}
.input-login:focus {
  outline: 2px solid #5146e52d;
}
.flex-start {
  justify-content: flex-start !important;
}
.p-button {
  color: #ffffff;
  background: #6366f1;
  border: 1px solid #6366f1;
  /* padding: 0.7rem 1.25rem; */
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  border-radius: 6px;
  font-weight: 500;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 15px;
}
.p-button:hover {
  background: #5046e5;
  cursor: pointer;
}
#cb-mind {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  accent-color: #5146e5d7;
  cursor: pointer;
}
.lbl-checkbox {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 30px -30px 20px rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  .left-row {
    display: none !important;
  }
}
